@use "../variables.scss" as globalVars;
@media (min-width: globalVars.$breakpoint-pc) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 1240px;
    .hero {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      height: 60%;
      margin: 1rem 0;
      font-family: globalVars.$prata;
      .artwork {
        position: relative;
      }
      .title {
        margin: 0 15%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
          font-size: 4rem;
          font-weight: normal;
          margin: 0;
        }
        h2 {
          font-size: 2.5rem;
          font-weight: normal;
          margin: 0;
        }
        h3 {
          font-size: 1.5rem;
        }
      }
    }
  }
}
