@use "../variables.scss" as globalVars;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  .hero {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    height: 30rem;
    .title {
      text-align: center;
      font-family: "Noto Serif Display", serif;
      font-weight: normal;
    }
  }
  .content {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .contentHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 8rem;
      background: url("../../public/images/tổ.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      .swiper {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .slide {
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 80%;
          }
        }
      }
    }

    .contentBody {
      width: 70%;
      height: 76%;
      .teacherSwiper {
        height: 100%;
        background: url("../../public/images/HÌNH\ TỪNG\ THẦY\ CÔ.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        .teacherSlide {
          .teachersContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 4rem;
            height: auto;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}

@media (min-width: globalVars.$breakpoint-pc) {
  .container {
    .content {
      .contentBody {
        width: 80%;
        .teacherSwiper {
          .teacherSlide {
            .teachersContainer {
              display: grid;
              grid-template-columns: repeat(3, minmax(10rem, 1fr));
              align-items: center;
              justify-items: center;
              grid-auto-rows: 24rem;
            }
          }
        }
      }
    }
  }
}
