@use "../variables.scss" as globalVars;
@media (min-width: globalVars.$breakpoint-pc) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 4rem;
    width: 80%;
    font-family: globalVars.$prata;
    .subject {
      align-self: flex-start;
      font-weight: normal;
    }
    .content {
      font-family: globalVars.$sriracha;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: relative;
      height: 72vh;
      margin-bottom: 4rem;
      overflow: hidden;
      .imageContainer {
        width: 72%;
        height: 72%;
        position: relative;
        z-index: 99;
      }
    }
  }
}
