@use "../variables.scss" as globalVars;
@media (min-width: globalVars.$breakpoint-pc) {
  .menu {
    display: grid;
    row-gap: 1rem;
    position: absolute;
    transform: translateY(3rem);
    list-style: none;
    padding: 0;
    z-index: 97;
  }
}
