@use "../variables.scss" as globalVars;

.container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 3.2rem;
  padding: 0 0 1.2rem 0;
  .columns {
    display: flex;
    flex-direction: column;
    .title {
      font-weight: normal;
      font-size: globalVars.$header-footer;
      color: globalVars.$primary-color;
      padding: 0;
      margin: 01rem 0;
    }
    .icon {
      margin-top: 0.4rem;
      max-width: 2rem;
    }
  }
}
