@use "../variables.scss" as globalVar;
@media (min-width: globalVar.$breakpoint-pc) {
  .sections {
    padding: 2em 0;
    .taglines {
      color: globalVar.$primary-color;
      font-weight: medium;
      font-size: 1em;
      padding: 2em 0;
      &::after {
        display: inline-block;
        content: "";
        border-top: 0.1rem solid globalVar.$primary-color;
        width: 1.5em;
        margin: 0 0 0em 0.2em;
        transform: translateY(-0.2em);
      }
    }
    .contents {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}
