@use "../variables.scss" as globalVars;
@media (min-width: globalVars.$breakpoint-pc) {
  .nav {
    font-size: globalVars.$header-footer;
    z-index: 999;
    margin: 0;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .lists {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      padding: 1rem 0 2rem 0;
      .listItems {
        text-transform: uppercase;
        color: globalVars.$primary-color;
        font-weight: bold;
        :hover {
          color: globalVars.$white;
        }
      }
    }
    .divider {
      height: 2px;
      width: 80%;
      background-color: globalVars.$primary-color;
    }
  }
}
