@use "../variables.scss" as globalVars;
@media (min-width: globalVars.$breakpoint-pc) {
  .nav {
    font-size: globalVars.$header-footer * 2;
    z-index: 999;
    margin: 0;
    padding: 0.4rem 0;
    width: 80%;
    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .divider {
        height: 2px;
        width: 80%;
        margin-bottom: 1rem;
        margin-top: -1rem;
        background-color: globalVars.$primary-color;
      }
    }
    .logo {
      display: flex;
    }
    .lists {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      padding: 0 0;
      .listItems {
        //background-color: white;
        text-transform: uppercase;
        color: globalVars.$primary-color;
        font-weight: bold;
        display: flex;
        align-items: center;
        :hover {
          color: globalVars.$black;
        }
      }
    }
  }
}
