@use "../variables.scss" as globalVars;
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 32rem;
  .imageContainer {
    position: relative;
    width: 100%;
    height: 28rem;
  }
  .title {
    font-size: 1.2rem;
    font-weight: normal;
    font-family: globalVars.$serif;
    margin-bottom: 0;
    text-align: center;
  }
}

@media (min-width: 460px) {
  .container {
    .title {
      font-size: 1.8rem;
    }
  }
}

@media (min-width: globalVars.$breakpoint-pc) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    width: 100%;
    .imageContainer {
      position: relative;
      width: 100%;
      height: 70%;
    }
    .title {
      font-size: 1.5rem;
      font-weight: normal;
      font-family: globalVars.$serif;
      margin-bottom: 0rem;
      text-align: center;
    }
  }
}
