@use "../variables.scss" as globalVars;
@media (min-width: globalVars.$breakpoint-pc) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    .imageContainer {
      position: relative;
      height: 20rem;
      width: 100%;
    }
    .title {
      font-size: 1.5rem;
      font-weight: normal;
      font-family: globalVars.$prata;
      margin-bottom: 0rem;
    }
    .quote {
      quotes: "“" "”" "‘" "’";
    }
  }
}
