// Breakpoints
$breakpoint-pc: 768px;
$breakpoint-mobile: 384px;

// Colors
$primary-color: #566de7;
$primary-background-color: #ffd700;
$white: #fff8d4;
$black: #333333;

// Sizes
$headings-1: 6rem;
$headings-2: 4.5rem;
$content: 1.5rem;
$header-footer: 1.25rem;
$nav-height: 5rem;

// Weights

// Styles

$border: 2px solid $black;
